<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/resources/iconApple.png" width="153" height="153" alt="">
    <h3>Version App iOS</h3>
    <!-- <a href="/resources/logoE.jpg" download="logoE.jpg">
        Descargar
        https://bit.ly/2QpsGpS --ipa
        https://bit.ly/2Ryky7i --images
        http://ec2-54-234-91-3.compute-1.amazonaws.com:8080/resources/iOS/Europiel_reportCenter.plist
    </a> -->
    <a href="itms-services://?action=download-manifest&url=https://europiel.fazguz.com/resources/iOS/manifest.plist">
        Descargar
    </a>

</body>
</html>